		<div class="users form">
		<h1 class="page-header">
                Login <small>Login Panel</small>
            </h1>
            
			<?php  echo $this->General->getbreadcrums($breadcrumbs); ?>	
<?= $this->Flash->render() ?>
<?= $this->Form->create() ?>
        <?= $this->Form->control('email_address') ?>
        <?= $this->Form->control('password') ?>

<?= $this->Form->button(__('Login')); ?>
<?= $this->Form->end() ?>
</div> 
           
           
            